include LICENSE
include README.md
include livefeedback_hub/handlers/Dockerfile

graft livefeedback_hub/templates
graft livefeedback_hub/static

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
