{% extends "base.html" %}
{% block content %}
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Titel</th>
        <th>Status</th>
        <th colspan="2">Optionen</th>
    </tr>
    </thead>
    {% for task in tasks %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.description }}</td>
    {% if task.ready %}
        <td>Ok</td>
    {% else %}
        <td>In Verarbeitung ...</td>
    {% end %}
        <td><a href="{{ base }}manage/edit/{{ task.id }}">Bearbeiten</a></td>
        <td><a href="{{ base }}results/{{ task.id }}">Ergebnisse</a></td>
        <td><a href="{{ base }}manage/delete/{{ task.id }}">Löschen</a></td>
    </tr>
    {% end %}
</table>
{% end %}