{% extends "base.html" %}
{% block content %}
{% from livefeedback_hub.db import State %}
<table id="overview" class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Titel</th>
        <th scope="col">Status</th>
        <th scope="col">Optionen</th>
    </tr>
    </thead>
    {% for task in tasks %}
    <tr>
        <td scope="row">{{ task.id }}</td>
        <td>{{ task.description }}</td>
        {% if task.state == State.ready %}
        <td>Ok</td>
        {% elif task.state == State.building %}
        <td>In Verarbeitung ...</td>
        {% else %}
        <td>Fehler bei der Verarbeitung!</td>
        {% end %}
        <td><a class="btn btn-primary btn-sm" href="{{ base }}results/{{ task.id }}">Ergebnisse</a>
            <a class="btn btn-warning btn-sm" href="{{ base }}manage/edit/{{ task.id }}">Bearbeiten</a>
            <a class="btn btn-danger btn-sm" href="{{ base }}manage/delete/{{ task.id }}">Löschen</a></td>
    </tr>
    {% end %}
</table>
{% end %}